*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: IndieFlower;
    src: url(/IndieFlower.ttf);
}

.body{
    background-color: lightblue;
    height: 500px;
}

.hero_img{
    border-radius: 10px 10px;
}

